<!--<div class = "container">
  <div *ngFor = "let item of items">
    <div class = 'col-md-3'>
      {{item.itemName}}
      {{item.price}}
      {{item.description}}
      {{item.serialNumber}}
      {{item.superMarketID}}
    </div>

    <div class = 'col-md-3'>
      <input type = "button" (click)="addToCart(item._id)" value = "Add to Cart" class="btn btn-success"/>
    </div>

  </div>
</div>-->
<div class="row">

    <div class="card col m4" *ngFor = "let item of items">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>

       Name:  {{item.itemName}} <br>
       Price: {{item.price}} <br>
       description: {{item.description}} <br>
       serialNumber:  {{item.serialNumber}} <br>
       superMarketID: {{item.superMarketID}} <br>

      </div>
    </div>

</div>

